@font-face {
	font-family: 'LCALLIG';
	src: url('./LCALLIG.eot');
	src: local('LCALLIG'), url('./LCALLIG.woff') format('woff'), url('./LCALLIG.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7705">Text with this font applied</p> */
.fontsforweb_fontid_7705 {
	font-family: 'LCALLIG' !important;
}

/* Font downloaded from FontsForWeb.com */
